.donation-form {
    
    border-radius: 8px;
    padding: 1rem;
    max-width: 80%;
    box-shadow: 4px 4px 4px 8px rgba(93, 88, 88, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.card-element {
    box-shadow: 2px 2px 2px 2px rgba(93, 88, 88, 0.3);
    border-radius: 8px;
}